* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#row {
    padding: 4%;
}

#row1 {
    padding: 1%;
    font-size: 48px;
    font-family: PingFang SC;
    font-weight: 900;
    color: rgba(51, 51, 51, 1);
    line-height: 64px;
}

#row2 {
    font-size: 35px;
    font-family: PingFang SC;
    font-weight: lighter;
    color: rgba(51, 51, 51, 1);
    opacity: 0.5;
}

#Selfform {
    margin-top: 3%;
    padding: 5%;
    font-size: 35px;
    line-height: 50px;
    font-family: PingFang SC;
}

#title {
    font-size: 35px;
    font-weight: bolder;
    font-family: PingFang SC;
    color: #000;
}

#hj {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

#SM {
    text-align: center;
    font-size: 34px;
    font-weight: normal
}

#JKCY0 {
    margin-top: 3%;
    padding: 4%;
}

.details {
    font-size: 13px;
    color: #999;
}

.title {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    /*line-height: 20px;*/
    /*padding-bottom: 20px;*/
}

.row {
    margin: 20px;
}

.bottom {
    margin-top: 30px;
    line-height: 12px;
}

.button {
    padding: 0;
    float: right;
    border-style: none;
    text-align: left;
    width: 710px;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

.van-tabs--line .van-tabs__wrap {
    height: 80px;
}

.van-tab__text {
    position: relative;
    color: #fff;
    font-size: 34px;
}

.van-tab {
    padding-top: 2%;
    line-height: 150%
}

@media screen and (min-width: 960px) and (orientation: landscape) {
    .van-tabs>>>.van-tabs__nav {
        background: url("./../assets/汉阳-00.png") !important;
    }

    .van-tabs >>> .van-tabs__wrap {
        border-bottom: 1px dotted rgba(0, 0, 0.2);
    }

    .van-tabs>>>.van-tab__text {
        color: #fff;
    }

    .van-tabs >>> .van-tab--active .van-tab__text {
        text-shadow: 0 0 10px rgba(255,255,255,0.8);
    }

    #JKCY0 {
        margin-top: 0%;
        padding: 0%;
        text-align: center;
    }

    #JKCY0 img {
        width: 60%;
    }

    #ZC {
        padding: 3%;
    }

    #row {
        padding: 2%;
    }
    
    #row1 {
        padding: 1%;
        font-size: 48px;
        font-family: PingFang SC;
        font-weight: 900;
        color: rgba(51, 51, 51, 1);
        line-height: 48px;
    }

    #ZC>>>.Section0 p span {
        font-size: 18px !important;
        font-family: monospace !important;
    }

    #ZDQY {
        text-align: center;
    }

    .el-button {
        width: 80%;
        float: none;
    }

    .el-card { 
        background-image: linear-gradient(to right, rgba(141, 228, 235, 0.5), rgba(155, 228, 224, 0.5)),
        url('../assets/route.png');
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
    }
}