* {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #Selfform{
  margin-top: 3%;
  padding: 5%;
  font-size:36px;
  line-height:58px;
  font-family:PingFang SC;
}
#hj{
  display: inline-block;
  height: auto;
  max-width: 100%;
}
  .row {
      margin:20px;
  }
    .button {
    padding: 0;
    float: right;
    border-style:none;
    text-align: left;
    width: 710px;
  }
    .title {
    font-size: 32px; 
    font-weight:bold;
    color: #333;
    /*line-height: 20px;*/
    /*padding-bottom: 20px;*/
  }
  #row{
  padding: 4%;
  }
  #row1{
    padding: 1%;
    font-size:48px;
    font-family:PingFang SC;
    font-weight:900;
    color:rgba(51,51,51,1);
    line-height:64px;
  }
  #row2{
    font-size:35px;
    font-family:PingFang SC;
    font-weight: lighter;
    color:rgba(51,51,51,1);
    opacity:0.5;
  }
 #JRCY0{
    margin-top: 3%;
    padding: 4%;
 }

.van-tabs--line .van-tabs__wrap{
    height: 80px;
}
.van-tab__text {
    position: relative;
    color: #fff;
    font-size: 34px;
}
.van-tab{
    padding-top: 2%;
    line-height: 150%
}

@media screen and (min-width: 960px) and (orientation: landscape) {
    .van-tabs>>>.van-tabs__nav {
        background: url("./../assets/汉阳-00.png") !important;
    }

    .van-tabs >>> .van-tabs__wrap {
        border-bottom: 1px dotted rgba(0, 0, 0.2);
    }

    .van-tabs>>>.van-tab__text {
        color: #fff;
    }

    .van-tabs >>> .van-tab--active .van-tab__text {
        text-shadow: 0 0 10px rgba(255,255,255,0.8);
    }

    #JRCY {
      text-align: center;
      padding-bottom: 20px;
    }

    #Selfform {
        margin-top: 0%;
        padding: 0%;
    }

    #Selfform img
     {
        width: 60%;
    }

    #row1 {
        padding: 1%;
        font-size: 48px;
        font-family: PingFang SC;
        font-weight: 900;
        color: rgba(51, 51, 51, 1);
        line-height: 48px;
    }

    .el-button {
      width: 100%;
      float: none;
    }

    .el-card { 
        background-image: linear-gradient(to right, rgba(141, 228, 235, 0.5), rgba(155, 228, 224, 0.5)),
        url('../assets/intro.svg');
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
    }
}