.details {
    font-size: 13px;
    color: #999;    
  }
  .title {
    font-size: 32px; 
    font-weight:bold;
    color: #333;
    /*line-height: 20px;*/
    /*padding-bottom: 20px;*/
  }
  .row {
      margin:20px;
  }
  .bottom {
    margin-top: 30px;
    line-height: 12px;
  }
  .button {
    padding: 0;
    float: right;
    border-style:none;
    text-align: left;
    width: 710px;
  }

  /*.image {
    width: 100%;
    display: block;
  }*/
  .clearfix:before,
  .clearfix:after {
      display: table;
      content: "";
  }
  
  .clearfix:after {
      clear: both
  }
  #Selfform{
  margin-top: 3%;
  padding: 5%;
  font-size:36px;
  line-height:58px;
  font-family:PingFang SC;
  }
  #hj{
    display: inline-block;
    height: auto;
    max-width: 100%;
  }
  
.van-tabs--line .van-tabs__wrap{
    height: 80px;
}
.van-tab__text {
    position: relative;
    color: #fff;
    font-size: 34px;
}
.van-tab{
    padding-top: 2%;
    line-height: 150%
}

@media screen and (min-width: 960px) and (orientation: landscape) {
      .el-card { 
          background-image: linear-gradient(to right, rgba(141, 228, 235, 0.5), rgba(155, 228, 224, 0.5)),
          url('../assets/creativity.svg');
          background-position: right;
          background-repeat: no-repeat;
          background-size: contain;
      }
}